*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./img/wallpaper.jpg);
    background-size: cover;
}

@font-face {
    font-family: 'MK8';
    src: url(mario_kart_f2.ttf);
}

.composition{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    width: 720px;
}

.composition:hover{
    background-color: rgb(255, 255, 255);
}

.composition img{
    height: 64px;
}

.perso, .vehicule{
    background-color: #d1212190;
    height: 64px;
}

.perso2, .vehicule2{
    background-color: #4a66f090;
    height: 64px;
}

.perso3, .vehicule3{
    background-color: #f0fa2a90;
    height: 64px;
}


.perso5, .vehicule5{
    background-color: #2abf2d90;
    height: 64px;
}

.perso6, .vehicule6{
    background-color: #9f37b990;
    height: 64px;
}

.perso7, .vehicule7{
    background-color: #eb902f90;
    height: 64px;
}

.perso8, .vehicule8{
    background-color: #91eddb90;
    height: 64px;
}

.perso4, .vehicule4{
    background-color: #79797990;
    height: 64px;
}

.perso9, .vehicule9{
    background-color: #d4567c90;
    height: 64px; 
}

.perso, .perso2, .perso3, .perso4, .perso5, .perso6, .perso7, .perso8, .perso9, .vehicule, .vehicule2, .vehicule3, .vehicule4, .vehicule5, .vehicule6, .vehicule7, .vehicule8, .vehicule9{
    width: 720px;
}

#Characters, #Characters2, #Characters3, #Characters4, #Characters5, #Characters6, #Characters7, #Characters8, #Characters9{
    margin-left: 10px;
}

.vehicule, .vehicule2, .vehicule3, .vehicule4, .vehicule5, .vehicule6, .vehicule7, .vehicule8, .vehicule9{
    width: 470px;
    display: flexbox;
    margin-top: -64px;
    margin-left: 250px;
}

.intro{
    font-family: 'MK8';
    color: rgb(202, 202, 202);
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0px 0px 4px #000000,0px 0px 4px #000000,0px 0px 4px #000000,0px 0px 4px #000000,0px 0px 4px #000000,0px 0px 4px #000000;
    transform: translateX(-50%);
    margin-left: 50%;
    text-transform: uppercase;
    width: 750px;
    margin-bottom: 100px;
}

.introimg{
    display: flex;
    height: 110px;
    width: auto;
    margin-top: -210px;
    margin-left: 65%;
}